* {
  padding: 0;
  margin: 0;
}
button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
}
input {
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: white;
}
.content {
  width: 100%;
  min-height: calc(100vh - 61px);
  display: flex;
  justify-content: center;
}
.loader_text {
  text-align: center !important;
  align-self: center !important;
  margin: 0 !important;
  padding: 0 !important;
  color: white !important;
}

/* Header */
.header {
  min-height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  border-bottom: 1px solid white;
}
.header ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}
.header ul li {
  list-style: none;
  margin: 0 4px;
}
.header ul li:nth-child(2) {
  font-weight: 600;
}
.nav-link {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  border: 1px solid white;
  padding: 0.3rem;
}
.header_search_btn {
  background-color: #e50914;
  border-color:  transparent;
  border-radius: 3px;
}
.nav-link .active {
  text-decoration: underline;
}

/* Landing page */
.landing_page_box {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.landing_page_box h1 {
  align-self: flex-start;
  margin: 5vh 0;
  margin-left: 5vw;
  color: #e50914;
}

.movie_list_box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  position: relative;
}
.movie_list_btn {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 1.3rem;
  border: 2px solid white;
}
.movie_list_btn:disabled {
  border-color: grey;
  cursor: default;
  color: grey;
}
.movie_list_goback {
  left: 1vw
}
.movie_list_goforward {
  right: 1vw
}
.movie_list_box h2 {
  padding: 0.2em 0;
}

.movie_list_content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1vh 0;
}
.movie_display_box {
  width: 10vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  cursor: pointer;
}
/* movie/series details page*/

.movie_detail_box {
  display: grid;
  grid-template-columns: 2fr 3fr;
  position: relative;
}

.btn_exit_details {
  position: absolute;
  top: 1vh;
  left: 1vw;
  padding: 0.2rem;
  box-sizing: border-box;
  background-color: transparent;
}

.movie_detail_text {
  padding: 0 1rem;
  justify-self: center;
  margin: 10vh 0;
  margin-left: 5vw;
}

.movie_detail_text h1 {
  margin: 2rem 0;
}
.movie_detail_text p {
  margin: 1rem 0;
}

.movie_detail_metadata_box {
  border-top: 1px solid black;
  padding: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
}

.movie_detail_img {
  align-self: center;
  justify-self: center;
  width: 60%;
  height: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.btn_watch_movie {
  width: 10vw;
  padding: 1rem 0;
  font-size: 1.2rem;
  cursor: pointer;
  margin: .3rem 0;
  background-color: #e50914;
  border: transparent;
  color: white;
  border-radius: 3px;
}
/* play movie page */
.video_container {
  background-color: "#000" !important;
  width: 100%;
  height: 100vh;
}
.video_player_heading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  color: grey;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}
.btn_exit_video {
  background-color: transparent;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.video_player {
  width: 100%;
  height: 100%;
}
/* search page */
.search_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}
.search_box h1 {
  align-self: flex-start;
  margin: 2vh 0;
  margin-left: 10%;
}
.search_bar_wrapper {
  width: 80%;
  padding: 1rem 0;
  box-sizing: border-box;
  border: 1px solid grey;
  margin-bottom: 10vh;
}
.search_bar_wrapper form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.search_bar_wrapper input {
  width: 80%;
  height: 3vh;
  padding: 0 .2rem;
  box-sizing: border-box;
  background-color: rgb(50,50,50);
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.search_bar_wrapper button {
  width: 10%;
  background-color: #e50914;
  border-color: transparent;
  border-radius: 3px;
}
.search_bar_wrapper button:disabled {
  cursor: default;
  color: grey;
}

@media only screen and (max-width: 600px) {
  /* movie/series details page*/
  .movie_detail_box {
    display: flex;
    flex-flow: column nowrap;
  }
  .movie_detail_img {
    width: 80%;
    height: 80%;
  }
  .movie_detail_text {
    margin: 2vh 0;
  }
  .btn_watch_movie {
    width: 25vw;
  }
}